*
{
	box-sizing: border-box;
	margin: 0px; 

}

body{ 
	background: #E5E3E3;

}
div{
	align-content: center;
	
	

}

h1 {
	font-size: 25px;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: bold;
	color: #393F44;
	
}
h2 {
	font-size: 20px;
	font-weight: 400;
	font-family: 'Merriweather Sans', sans-serif;
	
}
h3 {
	font-size: 40px;
	color: #393F44;
	font-weight: 600;
	font-family: 'Merriweather Sans', sans-serif;
}
h4 {
	font-size: 30px;
	color: #8B8B8B;
	font-weight: 400;
	font-family: 'Merriweather Sans', sans-serif;

}
p{
	font-size: 50px;
	font-weight: 500;
	font-family: 'Merriweather Sans', sans-serif;
}
.boton {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;

}

.expandir {
	box-sizing: content-box;
	display: flex;
	width: 100%;
	height: 100px;
	margin-left: -35px;
	margin-right: 50px;
	padding-right: 50px;
	align-content: center;
	justify-content: flex-end;
	align-items: center;
	position:fixed;
	z-index:1000;
	top:0;
	/*max-width:1000px;*/
	box-shadow:0px 4px 3px rgba(0,0,0,.5);

}
.logo {
	display: flex;
	background: #E5E3E3;
	height: 600px;
	justify-content: center;
	align-content: flex-end;
	align-items: center;
	animation: infinite;

}

.logo2{ 
	display: flex;
	background: #E5E3E3;
	height: 300px;
	justify-content: center;
	align-items: center
}

.nombre {
	display: flex;
	align-content: flex-end;
	justify-content: center;
	align-items: center;
	animation-delay: 1s;
	animation-duration: 2s;

}

.foto{
	display: flex;
	background: #E5E3E3;
	height: 700px;
	justify-content: center;
	align-content: center;
}

button {
	border-radius: 50px;
	border: 0px;
	margin: 60px;
	background-color: #E5E3E3;
	font-family: 'Roboto', sans-serif;
}

.fondo {
	position: absolute;
	z-index: 1;
}

.adelante {
	position: absolute;
	z-index: 2;
}

.video {
	display: flex;
	background: black;
	height: 600px;
	align-content: center;
	justify-content: center;
	align-items: center
}

.contactos {
	box-sizing: content-box;
	display: flex;
	width: 100%;
	margin-left: -35px;
	margin-right: -10px;
	background: #393F44;
	height: 200px;
	justify-content: space-around;
	align-items: center;
	padding-right: 50px;
	
	
}
.abajo {
	height: 120px;
}
.auto {
	background:  #E5E3E3;
	height: 300px;
	margin: auto;
	padding: 10px;
	text-emphasis: text;
	justify-content: space-around;
	align-items: center;

}
.subt {
	position: absolute;
	margin: 0px;
	z-index: 2;

}
.subt2{
	margin: 20px;
	margin-left: 5px;
}
.hobbies {
	display: flex;
	background: #E5E3E3;
	height: 350px;
	margin-left: 40px;
	align-content: center;
	justify-content: space-around;
	align-items: center;
	animation-delay: 0s;
	animation-duration: 10s;
	z-index: 1;
}
.habi1 {
	display: flex;
	background: #E5E3E3;
	height: 80px;	
	margin-right: 15px;
	align-content: center;
	justify-content: space-around;
}
.habi2 {
	display: flex;
	background: #E5E3E3;
	height: 80px;
	justify-content: space-around;
	align-content: center;
}

.text {
	display: table;
	background: #E5E3E3;
	margin: 20px;
	height: 800px;
	justify-content: space-around;
	align-content: center;

}
.tra {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	text-align: center;
	background: #E5E3E3;
	height: 160px;

}

.foto1 {
	margin-left: 40px;
	padding: 20px;
	align-items: center;
	align-content: center;
	justify-content: center;

	
}
.dise2 {
	display: flex;

	padding: 10px;
	text-align: justify;
	justify-content: space-around;
	align-content: center;
}
.ilus {
	margin-left:60px;

}



.galeria img {
	box-shadow: 0 8px 10px -4px rgba(0,0,0,.6);
	border-radius: 15px;
	
}

.materialbox-caption {
	bottom: 30px;
	right: 50px;
	width: 40%;
	padding: 10px;
	margin: auto;
	background: #000;
	box-shadow: 5px 5px #fff;
	font-size: 20px;
	color: #fff;
	line-height: 28px;
}

.galeria .col {
	margin-bottom: 20px;
}

@media screen and (max-width: 600px){
	.materialbox-caption {
		 width: 90%;
	}
}

@media screen and (max-width: 992px){
	.materialbox-caption {
		 width: 70%;
	}
}


.contac {
	margin: 20px;
	height: 100px;
}